@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		@apply bg-white text-black;
	}

	/* Print styles */
	@media print {
		header,
		footer {
			display: none;
		}

		a {
			text-decoration: underline;
		}

		a[href^="http"]:after {
			content: " (" attr(href) ")";
			font-size: 0.8em;
			color: #666;
		}
	}
}
